-
  var subDirectory = process.env.npm_package_config_subDirectory;
  var urlCM = '/assets/images/';

block meta
  -
    var title = "PORTLAND ORE. TANNER GOODS";
    var description = "PORTLAND ORE. TANNER GOODS";
    var keywords = ""
    var url = "https://www.tannergoods.com/"

block subTitle
  - var pageTitle = ''

doctype html
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="format-detection", content="telephone=no")
    title #{pageTitle}#{title}
    meta(name='Description', content=description)
    meta(name='Keywords', content=keywords)

    meta(property='og:type', content='website')
    meta(property='og:description', content=description)
    meta(property='og:title', content=pageTitle+title)
    meta(property='og:url', content=url)
    meta(property='og:image', content=url + 'og.png')
    meta(property='og:locale', content='ja_JP')
    
    <link rel="apple-touch-icon" sizes="180x180" href="./common/img/apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">

    link(rel='shortcut icon', href='/favicon.ico')

    block stylesheet
      link(rel="stylesheet", href='/' + subDirectory + process.env.npm_package_config_assetPath + '/css/app.css')

  body
    #root.root
      header.header#header
        include ./_header.pug

      main
        block main
      footer.footer#footer
        include ./_footer.pug

    block script
      script(src='/' + subDirectory + process.env.npm_package_config_assetPath + '/js/vendor.js', defer)
      script(src='/' + subDirectory + process.env.npm_package_config_assetPath + '/js/runtime.js', defer)
      script(src='/' + subDirectory + process.env.npm_package_config_assetPath + '/js/bundle.js', defer)